@import url("style/header.css");
body {
    background-color: rgb(255, 210, 245);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(240, 5, 240);
}

.h2 {

    color:rgb(255, 28, 206);
    
}